body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://i.stack.imgur.com/vhoa0.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
} 
.header{
  position: sticky;
  top: 10px;
  width: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 5px 5px;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  font-size: 20px;
}
#navbar{
  color: #19d5d5;
  font-weight: bold;
}
.name-image {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}
.ozzy {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  object-fit: cover;
}
h1{
  font-family: "Abril Fatface", serif;
  font-weight: 900;
  font-style: normal;
  color: #073f8d;
  border-bottom: 1px solid black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-size: 35px;
}
.connect{
font-family: "Abril Fatface", serif;
font-weight: 600;
font-style: normal;
color: #B93232;  
background-color: #A0C523;
padding: 10px 30px;
border-radius: 5px;
cursor: pointer; 
display: table;
transition: background-color 0.3s; 
background-image: url('https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png');
background-repeat: no-repeat;
background-position: 105px;
background-size: 20px 20px;
}
h2{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: #0a3f22;
  border-bottom: 1px solid black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-size: 25px;
  font-weight: bolder;
}
.connectlink{
  display:flex;
  margin-top: -20px;
}
p{
background-color: hsla(60, 46%, 73%, 0.8);
padding: 5px 5px;
border-radius: 5px;
display: table;
}
.projects{
display: table;
background-color: hsla(60, 46%, 73%, 0.8);
padding: 10px 30px;
border-radius: 5px;
font-weight: bold;  
}
.contact{
display: table;
background-color: hsla(0, 0%, 100%, 0.8);
padding: 10px 20px;
border-radius: 5px;
font-weight: bold;
margin-top: -5px;
margin-left: 20px; 
}
.contact2{
display: table;
width: fit-content;
background-color: hsla(0, 0%, 100%, 0.7);
padding: 20px;
border-radius: 5px;
font-weight: bold;
margin-top: -5px;
margin-left: 20px;  
}
.contact-lists{
  display: flex;
  align-items: center;
}
.ctd{
position: fixed;
bottom: 0;
right: 0;
}

@media (max-width: 768px) {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
  }
  p{
    margin: 0 10px 15px 10px;
  }
  .header {
      font-size: 12px; 
      
  }
  .header nav a{
    padding: 10px; 
  }
  h1 {
      font-size: 30px;
  }
  h2 {
      font-size: 30px; 
      text-align: center;
      margin-top: -10px;
      margin-right: 5px;
      margin-left: 5px;    
  }
  .ozzy {
      margin-top: 10px;
      margin-left: 10px;
      width: 120px; 
      height: 120px; 
  }
  .projects{
    margin: 0 10px 15px 10px; 
  }
  .contact-lists{
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: 20px;
  }
  .connect{
    padding: 10px 30px;
    background-position: 120px;
  }
  p, .projects li, .contact li, .contact2 li {
      font-size: 15px;
  }
  .ctd{
    width: 120px;
    height: auto;
  }
  #skills ul {
    margin: -10px 0 10px 10px;
  }
}

